@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h3>Kategori</h3>
@{
    int count = 0;
}
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.KategoriAd</td>
            <td>
                <a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
         
                <a href="/Kategori/KategoriGuncelle/@item.KategoriID" class="btn btn-outline-info"><i class="fa fa-recycle"></i> </a>

            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new {sayfa}))
<a href="/Kategori/KategoriEkle" class="btn btn-outline-success"> Yeni Kategori Ekle</a>
